<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-g">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Support Platform{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      {% if g.user %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('create_ticket') }}">New Ticket</a>
        <a href="{{ url_for('tickets_list') }}">My Tickets</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </nav>
    <hr>
    <div class="content">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
